@charset 'UTF-8';

div.quadrado{
    display: inline-block;
    /*background-image: linear-gradient(180deg, lightgrey, darkgrey);*/
    border-radius: 3px;
    border: 1px solid blue;
    width: 200px;
    height: 200px;
}

div#q1{
    background-color: lightblue;
}

div#q2{
    background-image: linear-gradient(to bottom, yellow, red);
}

div#q3{
    color: aliceblue;
    background-image:url("../_img/pattern001.png")
}

body{
    background-image: url('../_img/wallpaper001.jpg');

}
