@charset 'UTF-8';

body{
    background-image: url('https://gustavoguanabara.github.io/html-css/imagens/mascote.png');
    background-size: 100px; /* 100px para w(x), 100px para h(y)*/
    background-repeat: repeat-y;
}